body {
  font-family: "Montserrat", Arial, sans-serif;
  background-color: #92b2bc;
}

/* header */

header {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.header div {
  margin-left: 20px;
}

.header h1 {
  padding-top: 10px;
}

.header img {
  width: 100px;
  height: auto;
  border-radius: 50%;
  opacity: 80%;
}

/* Navigation */

ul {
  list-style: none;
}

nav ul {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  font-size: 1.5rem;
}

nav li {
  padding: 0 100px;
}

a {
  text-decoration: none;
}

/* about */

.about {
  display: block;
  margin: 0 50px 0;
}

/* projects */

.projects {
  margin: 0 50px 0;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -10px;
}

.projects-container article {
  margin: 0 10px;
}

.projects-container img {
  width: 400px;
  height: auto;
}

.projects-container p {
  width: 400px;
}

a:visited {
  color: blue;
}

/* Footer */

footer {
  font-size: 0.8rem;
  text-align: center;
}
